html {
  color: #e7e7e7;
  background-color: #135a9c;
}

body {
  color: #e7e7e7;
  font-size: 17px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1653;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0 0 0 / 16%), 0 2px 5px rgba(0 0 0 / 23%);
}

.logo {
  padding: 0 1em;
  background-image: url("../img/Logo5-01.png");
  max-width: 20%;
  max-height: auto;
  background-position: left;
  background-repeat: repeat-y;
  background-size: cover;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

li {
  display: inline;
  padding: 38px 7px 38px 7px;
  transition: background-color 0.75s;
}

ul li:hover {
  background-color: #585858;
}

h1 {
  margin-left: 8%;
  margin-top: 4em;
}

p {
  margin-left: 8%;
  margin-right: 8%;
  text-indent: 30px;
}

h2 {
  width: 70%;
  margin-left: 8%;
}

#table-description {
  max-width: 700px;
}

table {
  margin-left: 8%;
  margin-right: 8%;
  overflow-x: hidden;
  table-layout: auto;
  width: auto;
  font-size: 18px;
  margin-bottom: 6rem;
}

th {
  height: 2rem;
  text-align: left;
  color: #e7e7e7;
  background-color: #073c6d;
  border-radius: 10px 10px 0 0;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #e7e7e7;
  border: 2px solid black;
}

td img {
  width: 100%;
  height: 100%;
}

#contact-info {
  border: 4px solid #052442;
}

#contact-info td {
  max-width: 400px;
}

tr:nth-child(odd) {
  background-color: #052646;
}
#why {
  padding-bottom: 70px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #1c1653;
  box-shadow: 0 -3px 5px rgba(0 0 0 / 16%), 0 2px 5px rgba(0 0 0 / 23%);
}

#steam {
  float: right;
  width: 30%;
  height: 30%;
  margin-right: 10%;
}

#controller {
  float: left;
  width: 40%;
  height: 32%;
}

#sales-tag {
  float: right;
  width: 40%;
  height: 40%;
}

#contact {
  float: right;
  margin-right: 5%;
  padding: 1rem;
  width: 200px;
  height: 200px;
}

@media (max-width: 300px) {
  #contact {
    display: none;
  }
}

@media (max-width: 400px) {
  #sales-tag {
    width: 150px;
    height: 100px;
  }

  #controller {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 360px) {
  footer {
    display: none;
  }
}

@media (max-width: 480px) {

  #contact {
    width: 25%;
    height: 25%;
  }

  li {
    display: block;
    padding: 14px 7px 14px 7px;
  }

  nav {
    position: relative;
    top: 0;
  }

  h1 {
    margin-top: 1em;
  }


}

@media (max-width: 550px) {
  table thead {
    display: none;
  }

  td {
    display: block;
    width: 80%;
    background-color: #10477a;
  }
  
  #why {
    padding-bottom: 0px;
  }

  footer {
    position: relative;
  }
}

@media (min-width: 750px) {
  #controller {
    width: 250px;
    height: 200px;
  }

  tr img {
    width: 260px;
    height: 115px;
  }
  
  #sales-tag {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1100px) {
  #steam {
    margin-right: 10%;
    margin-top: 2%;
    width: 320px;
    height: 320px;
  }

  #sales-tag {
    margin-right: 16%;
  }

  p,
  h1,
  h2,
  table,
  #controller {
    margin-left: 16%;
  }

  p {
    max-width: 800px;
    margin-right: 16%;
  }
}

@media (min-width: 1350px) {
  #steam,
  #contact {
    margin-right: 20%;
    margin-top: 1%;
  }

  #sales-tag {
    margin-right: 25%;
  }
}

@media (min-width: 1600px) {
  #steam,
  #contact {
    margin-right: 30%;
  }

  #sales-tag {
    margin-right: 35%;
  }
}
