html {
  color: #e7e7e7;
  background-color: #135a9c;
}

body {
  color: #e7e7e7;
  font-size: 17px;
  margin-bottom: 120px;
  margin-top: 100px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1653;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0 0 0 / 16%), 0 2px 5px rgba(0 0 0 / 23%);
}

.logo {
  padding: 0 1em;
  background-image: url("../img/Logo5-01.png");
  max-width: 20%;
  max-height: auto;
  background-position: left;
  background-repeat: repeat-y;
  background-size: cover;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

li {
  display: inline;
  margin-right: 1rem;
}

h1 {
  margin-left: 8%;
  margin-top: 3em;
}

p {
  margin-left: 8%;
  margin-right: 8%;
  text-indent: 30px;
}

h2 {
  width: 70%;
  margin-left: 8%;
}

table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 2rem;
  text-align: left;
  color: #e7e7e7;
  background-color: #073c6d;
  border-radius: 10px 10px 0 0;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #e7e7e7;
  border: 2px solid black;
}

tr:nth-child(even) {
  background-color: #052646;
}

#table {
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #1c1653;
  box-shadow: 0 -3px 5px rgba(0 0 0 / 16%), 0 2px 5px rgba(0 0 0 / 23%);
}

#steam {
  float: right;
  width: 30%;
  height: 30%;
  margin-right: 10%;
}

#controller {
  float: left;
  width: 40%;
  height: 32%;
}

#salesTag {
  float: right;
  width: 40%;
  height: 40%;
}
@media (max-width: 400px){
  #salesTag {
    width: 150px;
    height: 100px;
  }
  #controller {
    width: 130px;
    height: 100px;
  }
}
@media (min-width: 750px) {
  #controller {
    width: 250px;
    height: 200px;
  }

  #salesTag {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1100px) {
  #steam {
    margin-right: 10%;
    margin-top: 2%;
    width: 320px;
    height: 320px;

  }
  #salesTag {
    margin-right: 16%;
  }
  p,
  h1,
  h2,
  #controller
 {
    margin-left: 16%;
  }

  p {
    max-width: 800px;
    margin-right: 16%;
  }
}

@media (min-width: 1350px) {
  #steam {
    margin-right: 20%;
    margin-top: 1%;
  }
  #salesTag {
    margin-right: 25%;
  }
}

@media (min-width: 1600px) {
  #steam {
    margin-right: 30%;
  }

}